
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{assets_url()}avision/images/category.jpg" data-speed="0.8"></div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Main Content -->

				<div class="col-lg-9">
					<div class="main_content">

						<!-- Category -->

						<div class="category">
							<div class="section_panel d-flex flex-row align-items-center justify-content-start">
								<div class="section_title">Don't Miss Latest {$page}</div>
								<!-- <div class="section_tags ml-auto">
									<ul>
										<li class="active"><a href="category.html">all</a></li>
										<li><a href="category.html">style hunter</a></li>
										<li><a href="category.html">vogue</a></li>
										<li><a href="category.html">health & fitness</a></li>
										<li><a href="category.html">travel</a></li>
									</ul>
								</div>
								<div class="section_panel_more">
									<ul>
										<li>more
											<ul>
												<li><a href="category.html">new look 2018</a></li>
												<li><a href="category.html">street fashion</a></li>
												<li><a href="category.html">business</a></li>
												<li><a href="category.html">recipes</a></li>
												<li><a href="category.html">sport</a></li>
												<li><a href="category.html">celebrities</a></li>
											</ul>
										</li>
									</ul>
								</div> -->
							</div>
							<div class="section_content">
								<div class="grid clearfix">
									{if $latest_count > 0}
									<!-- Small Card With Image -->
									<div class="card card_small_with_image grid-item c1">
										<img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[0]->image}" alt="">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">{$latest[0]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[0]->author_id->nama}</a><span>{$latest[0]->created_at}</span></small>
										</div>
									</div>
									{if $latest[1] != null}
									<!-- Small Card Without Image -->
									<div class="card card_default card_small_no_image grid-item c2">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[1]->id}/{$latest[1]->title|lower|replace:' ':'-'}">{$latest[1]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[1]->author_id->nama}</a><span>{$latest[1]->created_at}</span></small>
										</div>
									</div>
									{/if}
									{if $latest[2] != null}
									<!-- Small Card With Image -->
									<div class="card card_small_with_image grid-item c3">
										<img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[2]->image}" alt="">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[2]->id}/{$latest[2]->title|lower|replace:' ':'-'}">{$latest[2]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[2]->author_id->nama}</a><span>{$latest[2]->created_at}</span></small>
										</div>
									</div>
									{/if}
									{/if}

									{if $latest_count > 3}
									<!-- Small Card With Image -->
									<div class="card card_small_with_image grid-item c4">
										<img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[3]->image}" alt="https://unsplash.com/@jakobowens1">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[3]->id}/{$latest[3]->title|lower|replace:' ':'-'}">{$latest[3]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[3]->author_id->nama}</a><span>{$latest[3]->created_at}</span></small>
										</div>
									</div>
									{if $latest[4] != null}
									<!-- Small Card With Background -->
									<div class="card card_default card_small_with_background grid-item c5" style="background:black;">
										<div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$latest[4]->image});opacity:0.6;"></div>
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[4]->id}/{$latest[4]->title|lower|replace:' ':'-'}">{$latest[4]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[4]->author_id->nama}</a><span>{$latest[4]->created_at}</span></small>
										</div>
									</div>
									{/if}
									{if $latest[5] != null}
									<!-- Small Card With Background -->
									<div class="card card_default card_small_with_background grid-item c6" style="background:black;">
										<div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$latest[5]->image});opacity:0.6;"></div>
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[5]->id}/{$latest[5]->title|lower|replace:' ':'-'}">{$latest[5]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[5]->author_id->nama}</a><span>{$latest[5]->created_at}</span></small>
										</div>
									</div>
									{/if}
									{/if}

									{if $latest_count > 6}
									<!-- Small Card With Image -->
									<div class="card card_small_with_image grid-item c7">
										<img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[6]->image}" alt="">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[6]->id}/{$latest[6]->title|lower|replace:' ':'-'}">{$latest[6]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[6]->author_id->nama}</a><span>{$latest[6]->created_at}</span></small>
										</div>
									</div>
									{if $latest[7] != null}
									<!-- Small Card Without Image -->
									<div class="card card_default card_small_no_image grid-item c8">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[7]->id}/{$latest[7]->title|lower|replace:' ':'-'}">{$latest[7]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[7]->author_id->nama}</a><span>{$latest[7]->created_at}</span></small>
										</div>
									</div>
									{/if}
									{if $latest[8] != null}
									<!-- Small Card Without Image -->
									<div class="card card_default card_small_no_image grid-item c9">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[8]->id}/{$latest[8]->title|lower|replace:' ':'-'}">{$latest[8]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[8]->author_id->nama}</a><span>{$latest[8]->created_at}</span></small>
										</div>
									</div>
									{/if}
									{/if}

									<!-- Default Card With Background -->
									<!-- <div class="card card_default card_default_with_background grid-item c10">
										<div class="card_background" style="background-image:url({assets_url()}avision/images/post_12.jpg)"></div>
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
										</div>
									</div> -->

									<!-- Default Card With Background -->
									<!-- <div class="card card_default card_default_with_background grid-item c11">
										<div class="card_background" style="background-image:url({assets_url()}avision/images/post_6.jpg)"></div>
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
										</div>
									</div> -->

									<!-- Small Card With Background -->
									<!-- <div class="card card_default card_small_with_background grid-item c12">
										<div class="card_background" style="background-image:url({assets_url()}avision/images/post_19.jpg)"></div>
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">{$latest[0]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[0]->author_id->nama}</a><span>{$latest[0]->created_at}</span></small>
										</div>
									</div> -->


									<!-- Small Card Without Image -->
									<!-- <div class="card card_default card_small_no_image grid-item c13">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">{$latest[0]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[0]->author_id->nama}</a><span>{$latest[0]->created_at}</span></small>
										</div>
									</div> -->

									<!-- Small Card Without Image -->
									<!-- <div class="card card_default card_small_no_image grid-item c14">
										<div class="card-body">
											<div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">{$latest[0]->title}</a></div>
											<small class="post_meta"><a href="#">{$latest[0]->author_id->nama}</a><span>{$latest[0]->created_at}</span></small>
										</div>
									</div> -->



								</div>
							</div>
						</div>

					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_background"></div>

						<!-- Top Stories -->

						<div class="sidebar_section">
							<div class="sidebar_title_container">
								<div class="sidebar_title">Top News</div>
								<!-- <div class="sidebar_slider_nav">
									<div class="custom_nav_container sidebar_slider_nav_container">
										<div class="custom_prev custom_prev_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
											</svg>
										</div>
								        <ul id="custom_dots" class="custom_dots custom_dots_top">
											<li class="custom_dot custom_dot_top active"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
										</ul>
										<div class="custom_next custom_next_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
											</svg>
										</div>
									</div>
								</div> -->
							</div>
							<div class="sidebar_section_content">

								<!-- Top Stories Slider -->
								<div class="sidebar_slider_container">
									<div class="owl-carousel owl-theme sidebar_slider_top">

										<!-- Top Stories Slider Item -->

										<div class="owl-item">

											<!-- Sidebar Post -->
											{foreach from=$popular item=$values}
											<div class="side_post">
												<a href="{base_url()}berita/{$values->id}/{$values->title|lower|replace:' ':'-'}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{assets_url()}uploads/images-news/{$values->image}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{$values->title}</div>
															<small class="post_meta">{$values->author_id->nama}<span>{$values->created_at}</span></small>
														</div>
													</div>
												</a>
											</div>
											{/foreach}

										</div>


									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</div>
