<!-- Home -->

<div class="home">

  <!-- Home Slider -->

  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      {foreach from=$slider item=$value}
      <!-- Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url({assets_url()}uploads/images-news/{$value->image});opacity:0.2;"></div>
        <div class="home_slider_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_slider_content">
                  <div class="home_slider_item_category trans_200"><a href="{base_url()}kategori/{$value->kategori}" class="trans_200">{$value->kategori}</a></div>
                  <div class="home_slider_item_title">
                    <a href="{base_url()}berita/{$value->id}/{$value->title|lower|replace:' ':'-'}">{$value->title}</a>
                    <p style="color:white;">
                      {$value->content|substr:0:500|strip_tags} ....
                    </p>
                  </div>
                  <div class="home_slider_item_link">
                    <a href="{base_url()}berita/{$value->id}/{$value->title|replace:' ':'-'|lower}" class="trans_200">Continue Reading
                      <svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
                        <polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 "/>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {/foreach}

    </div>

    <div class="custom_nav_container home_slider_nav_container">
      <div class="custom_prev custom_prev_home_slider">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
          <polyline fill="#FFFFFF" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
        </svg>
      </div>
          <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
        <li class="custom_dot custom_dot_home_slider active"><span></span></li>
        <li class="custom_dot custom_dot_home_slider"><span></span></li>
        <li class="custom_dot custom_dot_home_slider"><span></span></li>
      </ul>
      <div class="custom_next custom_next_home_slider">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
          <polyline fill="#FFFFFF" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
        </svg>
      </div>
    </div>

  </div>
</div>

<!-- Page Content -->

<div class="page_content">
  <div class="container">
    <div class="row row-lg-eq-height">

      <!-- Main Content -->

      <div class="col-lg-9">
        <div class="main_content">

          <!-- Blog Section - What's Trending -->

          <div class="blog_section">
            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
              <div class="section_title">What's Trending</div>
              <div class="section_tags ml-auto">
                <ul>
                  <li class="active"><a href="category.html">all</a></li>
                  <li><a href="{base_url()}kategori/news">News</a></li>
                  <li><a href="{base_url()}kategori/sport">Sport</a></li>
                  <li><a href="{base_url()}kategori/tech">Tech</a></li>
                  <li><a href="{base_url()}kategori/lifestyle">Lifestyle</a></li>
                  <li><a href="{base_url()}kategori/intermezzo">Intermezzo</a></li>
                </ul>
              </div>
              <!-- <div class="section_panel_more">
                <ul>
                  <li>more
                    <ul>
                      <li><a href="category.html">new look 2018</a></li>
                      <li><a href="category.html">street fashion</a></li>
                      <li><a href="category.html">business</a></li>
                      <li><a href="category.html">recipes</a></li>
                      <li><a href="category.html">sport</a></li>
                      <li><a href="category.html">celebrities</a></li>
                    </ul>
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="section_content">
              <div class="grid clearfix">
                {if $top_news[0] != null}
                <!-- Large Card With Background -->
                <div class="card card_large_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$top_news[0]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title"><a href="{base_url()}berita/{$top_news[0]->id}/{$top_news[0]->title|lower|replace:' ':'-'}">{$top_news[0]->title}</a></div>
                    <small class="post_meta"><a href="#">{$top_news[0]->author_id->nama}</a><span>{$top_news[0]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $top_news[1] != null}
                <!-- Large Card With Image -->
                <div class="card grid-item card_large_with_image">
                  <img class="card-img-top" src="{assets_url()}uploads/images-news/{$top_news[1]->image}" alt="">
                  <div class="card-body">
                    <div class="card-title"><a href="{base_url()}berita/{$top_news[1]->id}/{$top_news[1]->title|lower|replace:' ':'-'}">{$top_news[1]->title}</a></div>
                    <p class="card-text">{$top_news[1]->content|substr:0:142}...</p>
                    <small class="post_meta"><a href="#">{$top_news[1]->author_id->nama}</a><span>{$top_news[1]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $top_news[2] != null}
                <!-- Default Card With Image -->
                <div class="card card_small_with_image grid-item">
                  <img class="card-img-top" src="{assets_url()}uploads/images-news/{$top_news[2]->image}" alt="">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$top_news[2]->id}/{$top_news[2]->title|lower|replace:' ':'-'}">{$top_news[2]->title}</a></div>
                    <small class="post_meta"><a href="#">{$top_news[2]->author_id->nama}</a><span>{$top_news[2]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $top_news[3] != null}
                <!-- Default Card With Background -->
                <div class="card card_default card_default_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$top_news[3]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$top_news[3]->id}/{$top_news[3]->title|lower|replace:' ':'-'}">{$top_news[3]->title}</a></div>
                  </div>
                </div>
                {else}
                <div class="card card_default card_default_no_image grid-item"></div>
                {/if}

                {if $top_news[4] != null}
                <!-- Default Card No Image -->
                <div class="card card_default card_default_no_image grid-item">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$top_news[4]->id}/{$top_news[4]->title|lower|replace:' ':'-'}">{$top_news[4]->title}</a></div>
                  </div>
                </div>
                {/if}

                {if $top_news[5] != null}
                <!-- Default Card No Image -->
                <div class="card card_default card_default_no_image grid-item">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$top_news[5]->id}/{$top_news[5]->title|lower|replace:' ':'-'}">{$top_news[5]->title}</a></div>
                  </div>
                </div>
                {/if}

                {if $top_news[6] != null}
                <!-- Default Card With Background -->
                <div class="card card_default card_default_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$top_news[6]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$top_news[6]->id}/{$top_news[6]->title|lower|replace:' ':'-'}">{$top_news[6]->title}</a></div>
                  </div>
                </div>
                {/if}

              </div>

            </div>
          </div>

          <!-- Blog Section - Latest -->

          <div class="blog_section">
            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
              <div class="section_title">Latest Articles</div>
            </div>
            <div class="section_content">
              <div class="grid clearfix">
                {if $latest[0] != null}
                <!-- Small Card With Image -->
                <div class="card card_small_with_image grid-item">
                  <img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[0]->image}" alt="">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[0]->id}/{$latest[0]->title|lower|replace:' ':'-'}">{$latest[0]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[0]->author_id->nama}</a><span>{$latest[0]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[1] != null}
                <!-- Small Card Without Image -->
                <div class="card card_default card_small_no_image grid-item">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[1]->id}/{$latest[1]->title|lower|replace:' ':'-'}">{$latest[1]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[1]->author_id->nama}</a><span>{$latest[1]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[2] != null}
                <!-- Small Card With Image -->
                <div class="card card_small_with_image grid-item">
                  <img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[2]->image}" alt="">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[2]->id}/{$latest[2]->title|lower|replace:' ':'-'}">{$latest[2]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[2]->author_id->nama}</a><span>{$latest[2]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[3] != null}
                <!-- Small Card With Image -->
                <div class="card card_small_with_image grid-item">
                  <img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[3]->image}" alt="https://unsplash.com/@jakobowens1">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[3]->id}/{$latest[3]->title|lower|replace:' ':'-'}">{$latest[3]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[3]->author_id->nama}</a><span>{$latest[3]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[4] != null}
                <!-- Small Card With Background -->
                <div class="card card_default card_small_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$latest[4]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[4]->id}/{$latest[4]->title|lower|replace:' ':'-'}">{$latest[4]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[4]->author_id->nama}</a><span>{$latest[4]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[5] != null}
                <!-- Small Card With Background -->
                <div class="card card_default card_small_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$latest[5]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[5]->id}/{$latest[5]->title|lower|replace:' ':'-'}">{$latest[5]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[5]->author_id->nama}</a><span>{$latest[5]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[6] != null}
                <!-- Small Card With Image -->
                <div class="card card_small_with_image grid-item">
                  <img class="card-img-top" src="{assets_url()}uploads/images-news/{$latest[6]->image}" alt="">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[6]->id}/{$latest[0]->title|lower|replace:' ':'-'}">{$latest[6]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[6]->author_id->nama}</a><span>{$latest[6]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[7] != null}
                <!-- Small Card Without Image -->
                <div class="card card_default card_small_no_image grid-item">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[7]->id}/{$latest[7]->title|lower|replace:' ':'-'}">{$latest[7]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[7]->author_id->nama}</a><span>{$latest[7]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[8] != null}
                <!-- Small Card Without Image -->
                <div class="card card_default card_small_no_image grid-item">
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[8]->id}/{$latest[8]->title|lower|replace:' ':'-'}">{$latest[8]->title}</a></div>
                    <small class="post_meta"><a href="#">{$latest[8]->author_id->nama}</a><span>{$latest[8]->created_at}</span></small>
                  </div>
                </div>
                {/if}

                {if $latest[9] != null}
                <!-- Default Card With Background -->
                <div class="card card_default card_default_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$latest[9]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[9]->id}/{$latest[9]->title|lower|replace:' ':'-'}">{$latest[9]->title}</a></div>
                  </div>
                </div>
                {/if}

                {if $latest[10] != null}
                <!-- Default Card With Background -->
                <div class="card card_default card_default_with_background grid-item" style="background:black;">
                  <div class="card_background" style="background-image:url({assets_url()}uploads/images-news/{$latest[10]->image});opacity:0.6;"></div>
                  <div class="card-body">
                    <div class="card-title card-title-small"><a href="{base_url()}berita/{$latest[10]->id}/{$latest[10]->title|lower|replace:' ':'-'}">{$latest[10]->title}</a></div>
                  </div>
                </div>
              {/if}
              </div>

            </div>
          </div>

        </div>
        <!-- <div class="load_more">
          <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
        </div> -->
      </div>

      <!-- Sidebar -->

      <div class="col-lg-3">
        <div class="sidebar">
          <div class="sidebar_background"></div>

          <!-- Top Stories -->

          <div class="sidebar_section">
            <div class="sidebar_title_container">
              <div class="sidebar_title">Top News</div>
              <div class="sidebar_slider_nav">
                <div class="custom_nav_container sidebar_slider_nav_container">
                  <!-- <div class="custom_prev custom_prev_top">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                      <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
                    </svg>
                  </div> -->
                      <!-- <ul id="custom_dots" class="custom_dots custom_dots_top">
                    <li class="custom_dot custom_dot_top active"><span></span></li>
                    <li class="custom_dot custom_dot_top"><span></span></li>
                    <li class="custom_dot custom_dot_top"><span></span></li>
                  </ul> -->
                  <!-- <div class="custom_next custom_next_top">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                      <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
                    </svg>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="sidebar_section_content">

              <!-- Top Stories Slider -->
              <div class="sidebar_slider_container">
                <div class="owl-carousel owl-theme sidebar_slider_top">

                  <!-- Top Stories Slider Item -->
                  <div class="owl-item">
                    {foreach from=$top_news item=$value}
                    <!-- Sidebar Post -->
                    <div class="side_post">
                      <a href="berita/{$value->id}/{$value->title|lower|replace:' ':'-'}">
                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                          <div class="side_post_image"><div><img src="{assets_url()}uploads/images-news/{$value->image}" alt="Not Found"></div></div>
                          <div class="side_post_content">
                            <div class="side_post_title">{$value->title}</div>
                            <small class="post_meta">{$value->author_id->nama}<span>{$value->created_at}</span></small>
                          </div>
                        </div>
                      </a>
                    </div>
                    {/foreach}

                  </div>

                  <!-- Top Stories Slider Item -->
                  <!-- <div class="owl-item"> -->

                    <!-- Sidebar Post -->
                    <!-- <div class="side_post">
                      <a href="{base_url()}berita/{$top_news[0]->id}/{$top_news[0]->title|lower|replace:' ':'-'}">
                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                          <div class="side_post_image"><div><img src="{assets_url()}avision/images/top_1.jpg" alt=""></div></div>
                          <div class="side_post_content">
                            <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div> -->

                  <!-- Top Stories Slider Item -->
                  <!-- <div class="owl-item"> -->

                    <!-- Sidebar Post -->
                    <!-- <div class="side_post">
                      <a href="{base_url()}berita/{$top_news[0]->id}/{$top_news[0]->title|lower|replace:' ':'-'}">
                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                          <div class="side_post_image"><div><img src="{assets_url()}avision/images/top_1.jpg" alt=""></div></div>
                          <div class="side_post_content">
                            <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>
          </div>

          <div class="sidebar_section future_events">
            <div class="sidebar_title_container">
              <div class="sidebar_title">Citizen Jurnalism</div>
              <div class="sidebar_slider_nav">
                <div class="custom_nav_container sidebar_slider_nav_container">
                </div>
              </div>
            </div>
            <div class="sidebar_section_content">

              <!-- Top Stories Slider -->
              <div class="sidebar_slider_container">
                <div class="owl-carousel owl-theme sidebar_slider_top">

                  <!-- Top Stories Slider Item -->
                  <div class="owl-item">
                    {foreach from=$citizen item=$value}
                    <!-- Sidebar Post -->
                    <div class="side_post">
                      <a href="berita/{$value->id}/{$value->title|lower|replace:' ':'-'}">
                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                          <div class="side_post_image"><div><img src="{assets_url()}uploads/images-news/{$value->image}" alt="Not Found"></div></div>
                          <div class="side_post_content">
                            <div class="side_post_title">{$value->title}</div>
                            <small class="post_meta">{$value->author_id->nama}<span>{$value->created_at}</span></small>
                          </div>
                        </div>
                      </a>
                    </div>
                    {/foreach}
                  </div>

                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
<br />
