	<!-- Home -->

	<div class="home" style="background:black;opacity:0.5;">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{assets_url()}uploads/images-news/{$berita->image}" data-speed="0.8"></div>
		<div class="home_content">
			<div class="post_category trans_200"><a href="{base_url()}kategori/{$berita->kategori}" class="trans_200">{$berita->kategori}</a></div>
			<div class="post_title">{$berita->title}</div>
		</div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">

						<!-- Top Panel -->
						<div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{assets_url()}uploads/images-member/{$berita->author_id->image}" alt=""></div></div>
							<div class="post_meta"><a href="#">{$berita->author_id->nama}</a><span>{$berita->created_at}</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- Post Body -->

						<div class="post_body">
							{$berita->content}

							<!-- Post Tags -->
							<!-- <div class="post_tags">
								<ul>
									<li class="post_tag"><a href="#">Liberty</a></li>
									<li class="post_tag"><a href="#">Manual</a></li>
									<li class="post_tag"><a href="#">Interpretation</a></li>
									<li class="post_tag"><a href="#">Recommendation</a></li>
								</ul>
							</div> -->
						</div>

						<!-- Bottom Panel -->
						<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{assets_url()}uploads/images-member/{$berita->author_id->image}" alt=""></div></div>
							<div class="post_meta"><a href="#">{$berita->author_id->nama}</a><span>{$berita->created_at}</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- Similar Posts -->
						<div class="similar_posts">
							<div class="grid clearfix">
								{foreach from=$berita_author item=$value}
								<!-- Small Card With Image -->
								<div class="card card_small_with_image grid-item">
									<img class="card-img-top" height="150px" src="{assets_url()}uploads/images-news/{$value->image}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="{base_url()}berita/{$value->id}/{$value->title|lower|replace:' ':'-'}">{$value->title}</a></div>
										<small class="post_meta"><a href="#">{$value->author_id->nama}</a><span>{$value->created_at}</span></small>
									</div>
								</div>
								{/foreach}
							</div>

							<!-- Post Comment -->
							<div class="post_comment">
								<div class="post_comment_title">Post Comment</div>
								<div class="row">
									<div class="col-xl-8">
										<div class="post_comment_form_container">
											{if $user == null}
											{$url = "#"}
											{$disabled = 'disabled'}
											{else}
											{$url = "komentar"}
											{$disabled = ''}
											{/if}
											<form action="{base_url()}{$url}" method="post">
												<input type="hidden" name="berita_id" value="{$berita->id}" />
												<input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required" value="{$user->nama}" disabled>
												<textarea class="comment_text" name="content" placeholder="Your Comment" required="required" {$disabled}></textarea>
												<button type="submit" class="comment_button">Post Comment</button>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Comments -->
							<div class="comments">
								<div class="comments_title">Comments <span>({$komentarCount})</span></div>
								<div class="row">
									<div class="col-xl-8">
										<div class="comments_container">
											<ul class="comment_list">
												{if $komentarCount == 0}
												<li class="comment">
													<div class="comment_body">
														<div class="comment_content" style="text-align:center;">
															<h4>Be the first, Start Comment ...</h4>
														</div>
													</div>
												</li>
												{else}
												{foreach from=$berita->komentar item=$value}
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{assets_url()}uploads/images-member/{$value->user->image}" style="object-fit:cover;width: 34px;height: 34px;" alt=""></div></div>
															<small class="post_meta"><a href="#">{$value->user->nama}</a><span>{$value->created_at}</span></small>
														</div>
														<div class="comment_content">
															<p>{$value->content}</p>
														</div>
													</div>
												</li>
												{/foreach}
												{/if}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_background"></div>

						<!-- Top Stories -->

						<div class="sidebar_section">
							<div class="sidebar_title_container">
								<div class="sidebar_title">Top News</div>
								<!-- <div class="sidebar_slider_nav">
									<div class="custom_nav_container sidebar_slider_nav_container">
										<div class="custom_prev custom_prev_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
											</svg>
										</div>
								        <ul id="custom_dots" class="custom_dots custom_dots_top">
											<li class="custom_dot custom_dot_top active"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
										</ul>
										<div class="custom_next custom_next_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
											</svg>
										</div>
									</div>
								</div> -->
							</div>
							<div class="sidebar_section_content">

								<!-- Top Stories Slider -->
								<div class="sidebar_slider_container">
									<div class="owl-carousel owl-theme sidebar_slider_top">

										<!-- Top Stories Slider Item -->
										<div class="owl-item">

											<!-- Sidebar Post -->
											{foreach from=$popular item=$values}
											<div class="side_post">
												<a href="{base_url()}berita/{$values->id}/{$values->title|lower|replace:' ':'-'}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{assets_url()}uploads/images-news/{$values->image}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{$values->title}</div>
															<small class="post_meta">{$values->author_id->nama}<span>{$values->created_at}</span></small>
														</div>
													</div>
												</a>
											</div>
											{/foreach}

										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
