
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{assets_url()}avision/images/regular.jpg" data-speed="0.8"></div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row">

				<!-- Post Content -->

				<div class="col-lg-10 offset-lg-1">
					<div class="post_content">

						<!-- Post Body -->
						<h3>Redaksi Madura Today</h3>
						<div class="post_body">
							<p class="post_p">
								<b>Ketua Redaksi : </b> Sofya Rahmi Isnaini <br />
								<b>Wakil Ketua Redaksi : </b> Muhammad Yuhda Billah <br />
								<b>Sekretaris Redaksi : </b> Putri Ayu Anggraini <br />
								<b>Bendahara Redaksi : </b> Yusuf Arrofat <br />
							</p>
							<p class="post_p">
								<b>HUMAS Redaksi : </b> Alicia Della Filea Budi, Putri Sarah Kusuma <br />
								<b>IT Support : </b> Muhammad Yuhda Billah <br />
								<b>Pemimpin Redaksi : </b> Fadhilatul Mukaromah <br />
								<b>Editor Am : </b> Farlis Fahmi Zaka, Ismi Smita Pritikari <br />
								<b>Gate Kipper : </b> Ainun Jannah <br />
							</p>
							<p class="post_p">
								<b>CO. News Today : </b> M. Mahsus <br />
								<b>CO. Sport Today : </b> Giovani Feisal Fahmi Alimudin <br />
								<b>CO. Tech Today : </b> Kevin Candra Hesriawan <br />
								<b>CO. Lifestyle : </b> Three  Yuni lestari <br />
								<b>CO. Intermezzo : </b> Moh. Suhud. <br />
								<b>CO. Citizen Jurnalism : </b> Fajar Ari Yanuanto <br />
							</p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
