<style type="text/css">
  .info-box{
    min-height: 90px;
  }
  .info-box-icon{
    min-height: 90px;
    height: 90px;
    width: 90px;
  }
  .info-box-content{
    margin-left: 90px;
  }

  .tab-pane{
    padding: 20px;
  }

  .row{
    padding: 10px;
  }
</style>

<div class="row">

  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>{$jumlahAdmin}</h3>

        <p>User</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <a href="user" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

</div>
