x.container-full {
  margin: 0;
  margin-left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  background: #FFF;
  padding-top: 10px !important;
  z-index: 9999;
}
.container-before-resize {
	position: absolute;
	background: #FFF;
}
.gc-full-width {
    opacity: 0.5;
    border: 1px solid transparent;
    padding: 0px 5px;
}
.gc-full-width:hover {
    opacity: 1;
    cursor:pointer;
    border: 1px solid #999;
    background: #CCC;
}
.table-label {
    background: #DDD;
    width: 100%;
    padding: 5px;
    text-align: left;
}
.minimize-maximize-container {
    border: 1px solid #adadad;
    padding: 0px 5px;
    cursor:pointer;
}

.table-container{
  background: #fff;
}